<!DOCTYPE html>
<html lang="en">
  <%- include( '../components/head.ejs') %>
  <body>    
    <%- include( '../components/topbar.ejs'), data, token %>
    <%- include( '../components/filters-aside.ejs') %>
    <div class="page">
        <%- include('../components/project-aside.ejs')%>
        <section class="playLists">


    <%# include( '../components/project-aside.ejs') %>
    <%- include('../components/sidebar2.ejs')%>
    <%- include('../components/sidebar5.ejs')%>
    <%- include('../components/sidebar4.ejs')%>
    
    <%- include('../components/sidebar3.ejs', projects)%>
    <!-- <form action="">
        <input type="text" name="" id="" placeholder="Project name">
        <input type="submit" value="Save project">
    </form> -->
    </section>
    




    <main>
    <%# include('../components/main-nav.ejs', genreList)%>
    <%- include('../components/video.ejs')%>
    </main>

    <section class="track-information">
    <%- include('../components/track-information.ejs')%>
    </section>
    </div>
    <script>
        const token = `<%= token %>`
    </script>



    <%- include('../components/music-player.ejs') %>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
    <script src="https://unpkg.com/@thomasloven/round-slider" type="module"></script>
    <script src="/dist/all.js"></script>

  </body>
</html>
