<!DOCTYPE html>
<html lang="en">
  <%- include( '../components/head.ejs') %>
  <body>    
    <%- include( '../components/topbar.ejs'), data, token %>

    <div class="page">
    <%- include( '../components/project-aside.ejs') %>
    <%- include( '../components/filters-aside.ejs', filters) %>

    <main>


    </main>


    <%- include('../components/sidebar2.ejs')%>
    <%- include('../components/sidebar3.ejs')%>

    </div>

    <script>
        const token = `<%= token %>`
    
    </script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="/js/collapse-menu.js"></script>
    <script src="/js/filter-toggle.js"></script>
    <script src="/js/emotion-slider.js"></script>
    <script src="/js/drag-and-drop.js"></script>
    <script src="/js/search.js" type="module"></script>
    <%- include('../components/music-player.ejs') %>



    <script src="/js/music-player.js"></script>
    
  </body>
</html>
