<!DOCTYPE html>
<html lang="en">
  <%- include( '../components/head.ejs') %>
  <body>    
    <%- include( '../components/topbar.ejs'), data, token %>
    <%- include( '../components/sidebar.ejs') %>
    <main>
<section>
        <%- include('../components/filter-toggle.ejs') %>

      <form class="inspire-me" action="/inspireme">

        <fieldset class="instrumentalness-filter">

            <legend>What ratio are you looking for?</legend>
            
            <label for="instrumentalness">
                Instrumentalness
                <input type="range" name="instrumentalness" id="valence">
            
            </label>
        
        </fieldset>


        <fieldset class="vibes-filter">

            <legend>What's the vibe of the scene?</legend>
            
            <label for="valence">
                Valence
                <input type="text" name="valence" id="valence">
            
            </label>
        
            <label for="">
                Energy
                <input type="text" name="energy" id="valence">
            
            </label>
        
            </fieldset>

            <fieldset class="length-filter">

                <label for="danceability">
                    Danceability
                    <input type="text" name="danceability" id="danceability" />
                  </label>
          
                  <label for="acousticness">
                    Acousticness
                    <input type="text" name="acousticness" id="acousticness" />
                  </label>

            </fieldset>



        <input type="hidden" name="token" value="<%= token %>" />
        <input type="hidden" name="data" value="<%= JSON.stringify(data) %>" />

        <fieldset class="genres-filter">
    
            <legend>What genres would be fitting?</legend>
        
            <div class= "ck-button">
            <label for="vehicle1"> 
            <input type="checkbox" id="vehicle1" name="genre" value="country"><span>country</span>
            </label>
            </div>
        
            <div class= "ck-button">
            <label for="vehicle2"> 
            <input type="checkbox" id="vehicle2" name="genre" value="classical"><span>classical</span>
            </label>
            </div>
        
            <div class= "ck-button">
            <label for="vehicle3">
            <input type="checkbox" id="vehicle3" name="genre" value="rock"><span>rock</span>
            </label>
            </div>
        
            <div class= "ck-button">
            <label for="vehicle4">
            <input type="checkbox" id="vehicle4" name="genre" value="metal"><span>metal</span>
            </label>
            </div>
        
            </fieldset>

        <input type="submit" value="Inspire me" />
      </form>
    </section>
    </main>
    <script src="../../js/collapse-menu.js"></script>
    <script src="/js/filter-toggle.js"></script>
  </body>
</html>
