
<% if (!trackData) { %>
    <p>no results</p>
<% } else {%>

<ul>

<% trackData.forEach(track => { %>


    <a href=<%= `/track/:${track.id}/:${token}` %>>
    <section class = "track-section">

        <h3><%= track.name %> by <%= track.artists[0].name %></h3>
        
        <% mood.forEach(item => { %>
            <% if (item.id == track.id) { %>
                <h4 style="font-weight: 700;"><%= item.mood %></h4>
<% } %>
        <% }) %>
        <h4>popularity: <%= track.popularity %></h4>
        <h4>runtime: <%= millisToMinutesAndSeconds(track.duration_ms)  %> </h4>
    
<% }) %>

</ul>

<% } %>

<% function millisToMinutesAndSeconds(millis){ %>

   <% var minutes = Math.floor(millis / 60000);
    var seconds = ((millis % 60000) / 1000).toFixed(0);
    return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
    %>


<% } %>

