<header>
    <div>
      <h1 class="logo">Ringo</h1>
      <form id="quickSearchForm" method="GET" autocomplete="off" action="/searchResults">
        <input type="search" id="search" name="searchValue" placeholder="Search for an artist or song" data-search-input="input"/>
        <input type="hidden" name="token" value="<%= token %>">
        <input type="hidden" name="data" value="<%= JSON.stringify(data) %>">

        <button type="submit">
            <%- include('./icons/search-icon'); %>
        </button>
      </form>
    </div>
    <div class="user">
      <h3><%= data.display_name %></h3>
      <img class="profile-pic" src="<%= data.images[0].url %>" alt="Profile picture of <%= data.display_name %>">
    </div>
  </header>