<header>
    <div>
      <h1 class="logo">Ringo</h1>
      <form id="quickSearchForm" method="GET" autocomplete="off" action="/searchResults">
        <button type="submit"><span class="material-icons">search</span></button>
        <input type="search" id="search" name="searchValue" placeholder="Search..." data-search-input="input">
        <button type="reset"><span class="material-icons">clear</span></button>



        <input type="hidden" name="token" value="<%= token %>">
        <input type="hidden" name="data" value="<%= JSON.stringify(data) %>">
        <input type="radio" name="searchOption" id="song" value="song">
        <label for="song">Song</label>
        <input type="radio" name="searchOption" value="projecten" id="projecten">
        <label for="projecten">Projects</label>
      </form>
    </div>
    <div class="user">
      <h3><%= data.display_name %></h3>
      <img class="profile-pic" src="<%= data.images[0].url %>" alt="Profile picture of <%= data.display_name %>">
    </div>
  </header>