<!-- <section class="track-information"> -->
    

    
    <!-- <h1>Audio features of this track</h1> -->
    <% if (typeof(trackData) !== 'undefined') { %>
        <%= console.log(trackData.artists) %>
        <span class="material-icons close-button">close</span>
        <div class="detail-header">
        <img class="detail-img" src="<%= trackData.album.images[1].url %>" alt="">
        <p><%= trackData.name %></p>
        <p><%= trackData.artists[0].name %></p>
        </div>

        <section class="metadata">


        
        <h3>Track information</h3>
        <section class="information-block">
        <section>
        <h4 class="info-title">ISRC</h4>
        <p><%= trackData.external_ids.isrc %></p>
        </section>
        <section>
        <h4 class="info-title">Release date</h4>
        <p><%= trackData.album.release_date %></p>
        </section>
        <section>
            <h4 class="info-title">Album</h4>
            <p><%= trackData.album.name %></p>
        </section>
        </section>

        <section class="lyrics">
            <h3>lyrics</h3>
            <p>
            The Lion of Judah shall break every chain, Shall sit in the sidewalks.

            One of my good friends said, in a reggae rhythm, Alleluia! Inite oneself and love Imanity.'" With King Alpha and Queen Omega. The power of philosophy, floats through my head.

            I'n'I a-hang on in there, Alleluia! And I'n'I, I no leggo; On a misty morning, I want you to straighten out my tomorrow, It gives great joy to see such sweet togetherness.

            'Cause I'll be there at your side." "I'm gone to prepare a place, So take it easy (easy skanking, da da da da da da) Iyaman Iration, yeah! (irie ites!) wo-oo-oh! 'Cause puss and dog they get together.

            And beg bread." Haunted, memories won't let me be, Ini vibration, yeah! (positive!) uh-huh-huh, a yeah! From reality I just can't drift (drift)
            </p>
        </section>

        </section>

    <% } %>




    

<!-- </section> -->